@keyframes redflash {
  0% {
    background: rgba(255, 0, 0, 0.336);
  }
  100% {
    background: transparent;
  }
}
@keyframes greenflash {
  0% {
    background: rgba(19, 180, 86, 0.336);
  }
  100% {
    background: transparent;
  }
}

.overview-table tbody tr:hover {
  background: rgba(0, 0, 0, 0.164);
  cursor: pointer;
}

.overview-table tbody :nth-child(odd) {
  background: rgba(0, 162, 255, 0.11);
}

.overview-table thead th {
  cursor: pointer;
}
